<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.analysis.api.operation">
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NormalisationOperation"
            description="Normalisation of datasets with errors"
            id="uk.ac.diamond.scisoft.analysis.processing.Normalisation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NormalisationModel"
            name="Normalisation for NCD">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdMetadataImportOperation"
            id="uk.ac.diamond.scisoft.analysis.processing.NcdMetadataImport"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdMetadataImportModel"
            name="NCD Metadata Import">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdDetectorResponseOperation"
            description="Flat field detector response operation"
            id="uk.ac.diamond.scisoft.analysis.processing.ncd.NcdDetectorResponse"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdDetectorResponseModel"
            name="NCD Detector Response">
      </operation>
   </extension>

</plugin>
