<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.analysis.api.operation">
      <operation
            category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NormalisationOperation"
            description="Normalisation of datasets with errors"
            icon="icons/ncdnorm.png"
            id="uk.ac.diamond.scisoft.analysis.processing.Normalisation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NormalisationModel"
            name="Normalisation for NCD">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdDetectorResponseOperation"
            description="Flat field detector response operation"
            icon="icons/ncddetresp.png"
            id="uk.ac.diamond.scisoft.analysis.processing.NcdDetectorResponse"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdDetectorResponseModel"
            name="NCD Detector Response">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdSectorIntegrationOperation"
            icon="icons/ncdsectInt.png"
            id="uk.ac.diamond.scisoft.analysis.processing.NcdSectorIntegration"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdSectorIntegrationModel"
            name="NCD Sector Integration">
      </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.ImportNcdMaskOperation"
             icon="icons/ncdmask.png"
             id="uk.ac.diamond.scisoft.analysis.processing.ImportNcdMask"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.mask.ImportMaskModel"
             name="Import NCD Mask from File">
      </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdBackgroundSubtractionOperation"
             icon="icons/ncdsubtract.png"
             id="uk.ac.diamond.scisoft.analysis.processing.NcdBackgroundSubtraction"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdBackgroundSubtractionModel"
             name="NCD Background Subtraction">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdBackgroundSubtractionFromDataOperation"
             icon="icons/ncdsubtract.png"
             id="uk.ac.diamond.scisoft.analysis.processing.NcdBackgroundSubtractionFromData"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdBackgroundSubtractionFromDataModel"
             name="NCD Background Subtraction From Current Data">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.GuinierOperation"
             description="Calculate Guinier plot and derived Rg and range, I0"
             icon="icons/unchanged.png"
             id="uk.ac.diamond.scisoft.analysis.processing.Guinier"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.EmptyModel"
             name="Guinier calculation">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdAveragingOperation"
             description="Rg calculation, filtering, then averaging"
             icon="icons/meanfilt.png"
             id="uk.ac.diamond.scisoft.analysis.processing.NcdAveraging"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdAveragingModel"
             name="NCD Averaging">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.NcdInvariantOperation"
             description="Invariant Calculation"
             icon="icons/unchanged.png"
             id="uk.ac.diamond.scisoft.analysis.processing.Invariant"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.EmptyModel"
             name="NCD Invariant">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.OrientationOperation"
             description="Degree of Orientation"
             icon="icons/unchanged.png"
             id="uk.ac.diamond.scisoft.analysis.processing.Orientation"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.EmptyModel"
             name="Degree of Orientation">
       </operation>
       <operation
             category="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             class="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.ExportNcd1dOperation"
             description="Allow users to export the results to several different formats"
             icon="icons/exptext.png"
             id="uk.ac.diamond.scisoft.analysis.processing.ExportNcd1d"
             model="uk.ac.diamond.scisoft.analysis.processing.operations.ncd.ExportNcd1dModel"
             name="Export NCD 1-D Data">
       </operation>
       <category
             id="uk.ac.diamond.scisoft.ncd.processing.ncdCategory"
             name="NCD">
       </category>
   </extension>

</plugin>
