<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ncdDataReductionPage" name="NCD Data Reduction Wizard Page" schema="schema/ncdDataReductionPage.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableAverage"
            name="Average">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.average.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableBackgroundSubtraction"
            name="Background Subtraction">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.backgroundsubtraction.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableDetectorResponse"
            name="Detector Response">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.detectorresponse.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableInvariant"
            name="Invariant">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.invariant.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableNormalisation"
            name="Normalisation">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.normalisation.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableSectorIntegration"
            name="Sector Integration">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.sectorintegration.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableRadialIntegration"
            name="Radial Integration">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.radial.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableAzimuthalIntegration"
            name="Azimuthal Integration">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.azimuthal.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableFastIntegration"
            name="Fast Integration">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.fastintegration.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableWaxsDataReduction"
            name="WAXS Data Reduction">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.waxsdatareduction.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableSaxsDataReduction"
            name="SAXS Data Reduction">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.saxsdatareduction.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableLogLogPlot"
            name="LogLog Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.loglogplot.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableGuinierPlot"
            name="Guinier Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.guinierplot.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enablePorodPlot"
            name="Porod Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.porodplot.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableKratkyPlot"
            name="Kratky Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.kratkyplot.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableZimmPlot"
            name="Zimm Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.zimmplot.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableDebyeBuechePlot"
            name="DebyeBueche Plot">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.debyebueche.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.enableMask"
            name="Mask">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.diamond.scisoft.ncd.rcp.mask.state">
         </state>
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.process"
            name="Run Data Reduction">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.ncd.rcp.handlers.DataReductionHandler"
            id="uk.ac.diamond.scisoft.ncd.rcp.process.button"
            name="Run Data Reduction Button">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.setBackgroundSubtractionFile"
            name="Select Background Subtraction File">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.setDetectorResponseFile"
            name="Select Detector Response File">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.setSectorIntegration"
            name="Select Sector Integration File">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.setDetectorMask"
            name="Select Detector Mask File">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.readQAxisCalibration"
            name="Load QAxis Calibration">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.readDetectorInfo"
            name="Read Detector Information">
      </command>
      <command
            id="uk.ac.diamond.scisoft.ncd.rcp.openNcdDataReductionWizard"
            name="NCD Data Reduction Wizard">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.ncd.rcp.handlers.NcdDataReductionWizardHandler"
            id="uk.ac.diamond.scisoft.ncd.rcp.openNcdDataReductionWizardButton"
            name="NCD Data Reduction Wizard Button">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.ncd.rcp.handlers.DataReductionHandler"
            id="uk.ac.diamond.scisoft.ncd.rcp.process.wizard"
            name="Run Data Reduction Wizard">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.ncd.rcp.handlers.SaveDataReductionParameters"
            id="uk.ac.diamond.scisoft.ncd.rcp.saveDataReductionParams"
            name="Save data reduction">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.ncd.rcp.handlers.LoadDataReductionParameters"
            id="uk.ac.diamond.scisoft.ncd.rcp.loadDataReductionParams"
            name="Load data reduction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DataReductionHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.process">
         <enabledWhen>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.AverageHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableAverage">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.BackgroundSubtractionHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableBackgroundSubtraction">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DetectorResponseHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableDetectorResponse">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.InvariantHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableInvariant">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.NormalisationHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableNormalisation">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.SectorIntegrationHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableSectorIntegration">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.RadialHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableRadialIntegration">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.AzimuthalHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableAzimuthalIntegration">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.FastIntegrationHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableFastIntegration">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.WaxsDataReductionHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableWaxsDataReduction">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.SaxsDataReductionHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableSaxsDataReduction">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DetectorMaskHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableMask">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.SectorIntegrationFileHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.setSectorIntegration">
         <enabledWhen>
            <and>
               <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               </with>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DetectorMaskFileHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.setDetectorMask">
         <enabledWhen>
            <and>
               <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               </with>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.BackgroundSubtractionFileHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.setBackgroundSubtractionFile">
         <enabledWhen>
            <and>
                  <with
                        variable="uk.ac.diamond.scisoft.ncd.rcp.enableBackgroundSubtraction">
                     <equals
                           value="true">
                     </equals>
                  </with>
               <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               </with>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DetectorResponseFileHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.setDetectorResponseFile">
         <enabledWhen>
            <and>
                  <with
                        variable="uk.ac.diamond.scisoft.ncd.rcp.enableDetectorResponse">
                     <equals
                           value="true">
                     </equals>
                  </with>
               <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               </with>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DetectorInformationHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.readDetectorInfo">
         <enabledWhen>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.QAxisFileHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.readQAxisCalibration">
         <enabledWhen>
            <and>
               <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               </with>
               <or>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                  variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.NcdDataReductionWizardHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.openNcdDataReductionWizard">
         <enabledWhen>
            <or>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <and>
                        <instanceof
                              value="java.io.File">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.LogLogPlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableLogLogPlot">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.GuinierPlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableGuinierPlot">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.PorodPlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enablePorodPlot">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.KratkyPlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableKratkyPlot">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.ZimmPlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableZimmPlot">
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.ncd.rcp.handlers.DebyeBuechePlotHandler"
            commandId="uk.ac.diamond.scisoft.ncd.rcp.enableDebyeBuechePlot">
      </handler>
   </extension>
   <extension
         point="org.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Science"
            class="uk.ac.diamond.scisoft.ncd.rcp.plotting.tools.SaxsAnalysisTool"
            icon="icons/saxs_tool.png"
            id="uk.ac.diamond.scisoft.ncd.rcp.plotting.tools.saxsplotting"
            label="SAXS Analysis"
            tooltip="Open viewer designed to show various plots for simple SAXS analysis.">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/introContribution.xml">
      </configExtension>
   </extension>

</plugin>
