a#ncdreduc img { background-image : url(graphics/ncd_intro45.png); }
a#ncdreduc:hover img { background-image : url(graphics/ncd_intro52.png); }

a#ncdcalib img { background-image : url(graphics/ncd_calibration_intro45.png); }
a#ncdcalib:hover img { background-image : url(graphics/ncd_calibration_intro52.png); }

