a#scisoft-ncdreduc img { background-image : url(graphics/ncd_intro45.png); }
a#scisoft-ncdreduc:hover img { background-image : url(graphics/ncd_intro52.png); }

a#scisoft-ncdcalib img { background-image : url(graphics/ncd_calibration_intro45.png); }
a#scisoft-ncdcalib:hover img { background-image : url(graphics/ncd_calibration_intro52.png); }

