<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            class="uk.ac.diamond.scisoft.ncd.rcp.edna.actions.NcdModelBuilderPerspectiveLaunch"
            description="Opens the perspective for building envelopes from SAXS data"
            icon="icons/ncd_envelope_intro.png"
            id="uk.ac.diamond.scisoft.ncd.rcp.intro.ncdmodelbuildingperspective"
            name="(Pre-release) NCD Model Building">
      </introPageRegister>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     <view
           category="org.dawb.workbench.ui.beta.views.category"
           icon="icons/ncd_envelope_small.png"
           class="org.dawnsci.algorithm.ui.views.runner.AlgorithmView"
           id="uk.ac.diamond.scisoft.ncd.rcp.edna.views.NcdModelBuilderParametersView"
           name="BioSAXS Model Builder"
           restorable="true">
     </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.ncd.rcp.edna.NcdModelBuilderPerspective"
            icon="icons/ncd_envelope_small.png"
            id="uk.ac.diamond.scisoft.ncd.ws.rcp.NcdModelBuilderPerspective"
            name="NCD Model Builder Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/introContribution.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.scisoft.ncd.rcp.edna.preferences.NcdModelBuilderPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="uk.ac.diamond.scisoft.ncd.rcp.edna.preferences.NcdModelBuilderPreferencePage"
            id="uk.ac.diamond.scisoft.ncd.ncdModelBuildingPreferences"
            name="NCD Model Building Preferences">
      </page>
   </extension>
   <extension
         point="org.dawnsci.algorithm.ui.processPage">
      <processPage
            class="uk.ac.diamond.scisoft.ncd.rcp.edna.views.NcdModelBuilderParametersView"
            viewId="uk.ac.diamond.scisoft.ncd.rcp.edna.views.NcdModelBuilderParametersView">
         <connection
               title="NCD model building"
               algorithmFile=""
               runIcon="icons/run_workflow.gif"
               stopIcon="icons/stop_workflow.gif">
         </connection>
      </processPage>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.diamond.scisoft.ncd.rcp.edna.actions.NcdModelBuilderSourceProvider">
         <variable
               name="uk.ac.diamond.scisoft.ncd.ws.rcp.service"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
