<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.diamond.scisoft.ncd.core.rcp.NcdProcessingSourceProvider">
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableNormalisation"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableBackgroundSubtraction"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableDetectorResponse"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableSectorIntegration"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableInvariant"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableAverage"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableRadialIntegration"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableAzimuthalIntegration"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableFastIntegration"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableWaxsDataReduction"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableSaxsDataReduction"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.enableMask"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.scalerDetector"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.saxsDetector"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.waxsDetector"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.energy"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.dataSlice"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.bkgSlice"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.gridAverage"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.bgScale"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.absScale"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.bgFile"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.drFile"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.workingDir"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.qGradient"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.qIntercept"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.qUnit"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="uk.ac.diamond.scisoft.ncd.core.rcp.NcdCalibrationSourceProvider">
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.calibrationBean"
               priorityLevel="workbench">
         </variable>
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.ncdDetectors"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="uk.ac.diamond.scisoft.ncd.core.rcp.SaxsPlotsSourceProvider">
         <variable
               name="uk.ac.diamond.scisoft.ncd.rcp.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
